<% if current_user? @user %>
	<div class="user-nav">
		<%= nav_link_to user_path(@user) do %>
			<i class="fa fa-diamond"></i> My Treasures
		<% end %>
		<%= nav_link_to hearted_user_path(@user) do %>
			<i class="fa fa-heart-o"></i> Hearted Treasures
		<% end %>
		<%= nav_link_to edit_user_registration_path do %>
			<i class="fa fa-pencil"></i> Edit Profile
		<% end %>
	</div>
<% end %>
