<% page_title @user.full_name.concat('\'s Profile | Hearted Treasures') %>

<section id="user-hearted-section">
	<div class="container">
		<%= render 'user_nav' %>
		<%= render 'user_info' %>
		
		<h2 class="page-title">Hearted treasures</h2>
		
		<%= hearted_treasures_for @user %>

		<%= will_paginate @hearted_treasures %>
	</div>
</section>
