<main role="main" id="hero">
	<div class="container">
		<div class="lead-wrapper">
			<h1 class="lead">Find and share awesome sites<br>with tools and resources</h1>
		</div>

		<%= render "shared/search_form", q: @q, css_class: "hero-search-form", placeholder: "Search treasures" %>

		<div class="treasures-found">
			<p>
				<span><%= Treasure.count %></span><br>
				Treasures Shared
			</p>
		</div>
	</div>
</main>
