# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 0268bebee823b96b88617b328825a4928568850fd9c32ff8e4ef86141b9cd006ff16e34967a566f626f2ecfe538edbece5d9de27f2ae08482b66330ec2d69952

test:
  secret_key_base: a39a3cd3a5137dc4be0b0c66ea2eb716e4d83ad3c11b4600669a6fb1c20fb9cc0cbf6dfdb1092f422da69d9e5badaef0e2d5b1581fd6fc534aad4a4523cb566c

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
