$primary: #FFDB7F;
$brown: #483A16;
$dark-brown: #231F20;
$dark-gray: #4C4A4B;
$gray: #666365;
$light-gray: #cccccc;
$default-text: #333333;
$orange: #F13E27;
$pink: #F17E70;
$flat-green: #65BE9F;
$green: #839C2B;
$sunshine-yellow: #F0C952;
$magenta: #E0335D;
