@import 'colors';

input[type] {
	outline: none;
	box-sizing: border-box;
}

.form-wrapper {
	width: 500px;
	margin: 0 auto;

	a {
		text-decoration: none;

		&:hover {
			//color: darken($primary, 10%);
			text-decoration: underline;
		}
	}
}

form {
	label,
	em,
	i {
		font-size: 14px;
		color: $gray;
		display: inline-block;
		margin-bottom: .2rem;
	}

	input[type='text'],
	input[type='password'],
	input[type='email'] {
		width: 100%;
		padding: .4rem .8rem;
		border-radius: 4px;
		margin-bottom: 1rem;
	}

	input[type='submit'] {
		border-style: none;

		&:hover {
			border-style: none;
		}
	}

	input {
		@include transition(border-color .2s ease-in-out);
		border: 1px solid $light-gray;

		&:focus {
			border: 1px solid $primary;
		}
	}

	.field_with_errors {
		display: inline;

		input {
			border-color: $pink;
		}
	}

	.btn-submit {
		@include transition(all .2s ease-in-out);
		margin: 1rem 0;
	}
}

#error_explanation {
	ul {
		color: $gray;
		font-size: 15px;
	}
}
