@import 'colors';

input,
textarea {
	outline: none;
	box-sizing: border-box;
}

#treasure_search {
	position: relative;
}

.btn-search {
	font-family: "FontAwesome";
	position: absolute;
	top: 50%;
	right: 0;
	@include transform(translateY(-50%));
	padding: 0;
	margin-right: 12px;
	color: $gray;
	font-size: 18px;
	background: white;
	background: transparent;
	width: 18px;
}

.form-wrapper {
	max-width: 600px;
	margin: 0 auto;

	a {
		text-decoration: none;

		&:hover {
			//color: darken($primary, 10%);
			text-decoration: underline;
		}
	}
}

.cancel-link {
	margin-left: 10px;
}

.select2-drop {
	color: $default-text;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.select2-drop-active {
	border-color: $primary !important;
}

form {
	label,
	em,
	i {
		font-size: 14px;
		color: $gray;
		display: inline-block;
		margin-bottom: .2rem;
	}

	#s2id_treasure_tag_list {
		width: 100%;

		.select2-choices {
			outline: none;
			box-sizing: border-box;
			margin: 0;
			padding: 0;
			@include transition(border-color .2s ease-in-out);
			border: 1px solid $light-gray;

			#s2id_autogen1.select2-input {
				font-family: inherit;
				font-size: inherit;
				padding: .4rem .8rem;
				color: inherit;
				margin: 0;
			}

			li.select2-search-choice {
				padding: 0px 5px 0px 18px;
			 	margin: 5px 0px 5px 5px;
   		  line-height: 22px;
				background: #e4e4e4;
				border: 1px solid $light-gray;
				box-shadow: none;

				.select2-search-choice-close {
					@include size(0);
					background: none;
					font-size: 1rem;
					text-decoration: none;
					top: 0;
					left: 5px;
					color: $gray;
					font-weight: 700;

					&:after {
						content: "×";
					}

					&:hover {
						color: black;
					}
				}
			}
		}
	}

	.select2-container-active {
		border: 1px solid $primary;
		border-radius: 4px;

		.select2-choices {
			border: none !important;
			box-shadow: none !important;
		}
	}

	input[type='text'],
	input[type='password'],
	input[type='email'],
	input[type='url'],
	textarea,
	.select2-choices {
		width: 100% !important;
		padding: .4rem .8rem;
		border-radius: 4px;
		margin-bottom: 1rem;
		-webkit-appearance: none;
	}

	input[type='submit'] {
		border-style: none;

		&:hover {
			border-style: none;
		}

		&:focus {
			border: none;
		}
	}

	textarea {
		resize: vertical;
		line-height: 1.5;
		font-size: 15px;
	}

	input,
	textarea {
		@include transition(border-color .2s ease-in-out);
		border: 1px solid $light-gray;

		&:focus {
			border: 1px solid $primary;
		}
	}

	.field_with_errors {
		display: inline;

		input,
		textarea {
			border-color: $pink;
		}
	}

	.btn-submit {
		@include transition(all .2s ease-in-out);
		margin: 1rem 0;
	}
}

#error_explanation {
	ul {
		color: $gray;
		font-size: 15px;
	}
}
