@import 'colors';

.name-ext-link-wrapper {
	.name {
		display: inline-block;
		margin: 0;
		font-size: 1.5rem;
		letter-spacing: -.06rem;
		
		span {
			margin-left: 7px;
			font-size: 1rem;
		}

		a {
			text-decoration: none;

			&:hover {
				color: darken($primary, 10%);
			}
		}
	}
}

.heart-count,
.tag-list {
	display: inline;
	font-size: .8rem;
	color: lighten($default-text, 25%);
}

.tag {
	text-decoration: none;
	@include transition(all .1s ease-in-out);

	&:hover {
		color: darken($primary, 10%);
	}
}

.heart-count {
	margin-right: 7px;
}

.treasure-wrapper {
	padding: 1.7rem 0;
	border-bottom: 1px solid #e6e6e6;
}

.description {
	margin: .6rem 0;
	font-size: 14px;
}

#treasures-index-section {
	.alphanumeric-pagination {
		text-align: center;

		ul {
			list-style: none;
			
			li {
				display: inline-block;
				margin: 0 .2rem;

				a {
					@include size(30px);
					text-decoration: none;
					background: $dark-gray;
					color: white;
					line-height: 30px;
					display: inline-block;
					@include transition(all .1s ease-in-out);
					border-radius: 50%;

					&:hover {
						background: $primary;
						color: $brown;
					}
				}
			}
		}
	}

	.treasure-wrapper {
		position: relative;
		
		.name {
			font-size: 1.7rem;
		}

		.description {
			font-size: 1rem;
			width: 90%;
		}

		.heart-count {
			position: absolute;
			font-size: 2rem;
			margin: 0;
			top: 50%;
			right: 0;
			@include transform(translateY(-50%));
			font-weight: 300;
		}
	}
}

#treasure-show-section {
	a {
		text-decoration: none;

		&:hover {
			//color: darken($primary, 10%);
			text-decoration: underline;
		}
	}

	.page-title {
		margin-bottom: .5rem;

		span {
			font-size: 1rem;
			margin-left: 10px;

			a {
				margin-left: 7px;
			}

			.edit {
				&:hover {
					color: darken($primary, 10%);
				}
			}

			.delete {
				&:hover {
					color: $orange;
				}
			}
		}
	}
	
	.submission-info {
		margin-bottom: 3rem;
		font-size: 14px;

		.submitter {
			margin-right: 7px;
		}

		p {
			display: inline;
			color: $gray;
		}
	}

	.details-wrapper {
		position: relative;
		margin-bottom: 4rem;
	}

	.tag-list {
		font-size: 1rem;
		color: $default-text;
		display: block;

		a:hover {
			text-decoration: none;
		}
	}

	.subtitle {
		text-transform: uppercase;
		letter-spacing: -.05em;
		font-size: 1.3rem;
		color: $gray;
	}
	
	.sub-section {
		margin-bottom: 3rem;
	}

	.heart-wrapper {
		position: absolute;
		bottom: 0;
		right: 0;
		font-size: 2.4rem;

		a {
			color: $gray;

			&:hover {
				color: $primary;
				//color: lighten($default-text, 10%);
			}
		}

		a.hearted {
			color: $orange;

			&:hover {
				color: darken($orange, 10%);
			}
		}

		.heart-count {
			display: inline-block;
			font-size: inherit;
			font-weight: 300;
			color: $default-text;
			margin-right: 0;
		}
	}

	.back-to-list-link {
		font-size: 14px;
		color: $gray;
	}
}
