/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require select2
 *= require_self
 */

@import 'bourbon';
@import 'normalize';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'colors';
@import 'tags';
@import 'home';

html {
	height: 100vh;
	height: 100%;
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

body {
	font-family: 'Open Sans', $helvetica;
	color: $default-text;
}

a {
	color: inherit;
}

.container {
	margin: 0 auto;
	padding: 0 30px;

	@media only screen and (min-width: 768px) {
		width: 750px;
	}

	@media only screen and (min-width: 992px) {
		width: 970px;
	}

	@media only screen and (min-width: 1230px) {
		width: 1170px;
	}
}

/*
  ========================================
	PLACEHOLDER
  ========================================
*/
%clearfix {
	zoom: 1;

	&:before,
	&:after {
		display: table;
		content: "";
	}

	&:after {
		clear: both;
	}
}

/*
  ========================================
	HEADER
  ========================================
*/
header {
	@extend %clearfix;
	padding: 1rem 0;
	text-transform: uppercase;
	background: $primary;

	a {
		text-decoration: none;
	}

	.logo {
		@include size(36px);
		float: left;

		svg {
			width: 100%;
			height: 100%;
		}
	}

	.navbar-brand {
		float: left;
		font-weight: 700;
		font-size: 1.3rem;
		margin-left: 10px;
		line-height: 36px;
		letter-spacing: -2px;
	}

	ul {
		float: right;
		list-style: none;
		display: inline-block;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			margin-left: 1em;
			line-height: 36px;
			font-weight: 400;
			font-size: 15px;
			letter-spacing: -.03em;
		}
	}

	.navbar-toggle {
		float: right;
		display: none;
	}
}
