/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require select2
 *= require_self
 */

@import 'bourbon';
@import 'normalize';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'colors';
@import 'tags';
@import 'home';
@import 'treasures';

html {
	height: 100vh;
	height: 100%;
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

body {
	font-family: 'Open Sans', $helvetica;
	color: $default-text;
}

a {
	color: inherit;
}

::selection {
	background: #CCF9CD;
}

.text-center {
	text-align: center;
}

.container {
	margin: 0 auto;
	padding: 0 30px;

	@media only screen and (min-width: 768px) {
		width: 750px;
	}

	@media only screen and (min-width: 992px) {
		width: 970px;
	}

	@media only screen and (min-width: 1230px) {
		width: 1170px;
	}
}

/*
  ========================================
	PLACEHOLDER
  ========================================
*/
%clearfix {
	zoom: 1;

	&:before,
	&:after {
		display: table;
		content: "";
	}

	&:after {
		clear: both;
	}
}

/*
  ========================================
	HEADER
  ========================================
*/
header {
	@extend %clearfix;
	padding: 1rem 0;
	text-transform: uppercase;
	background: $primary;
	color: $brown;

	a {
		text-decoration: none;
	}

	.logo {
		@include size(36px);
		float: left;

		svg {
			width: 100%;
			height: 100%;
		}
	}

	.navbar-brand {
		float: left;
		font-weight: 700;
		font-size: 1.3rem;
		margin-left: 10px;
		line-height: 36px;
		letter-spacing: -2px;
	}

	ul {
		float: right;
		list-style: none;
		display: inline-block;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			margin-left: 1em;
			line-height: 36px;
			font-weight: 400;
			font-size: 15px;
			letter-spacing: -.03em;
		}
	}

	.navbar-toggle {
		float: right;
		display: none;
	}
}

/*
  ========================================
	FOOTER
  ========================================
*/
footer {
	background: $dark-brown;
	color: $gray;
  box-shadow: inset 0 1px 0 0 $gray;
  border-top: 6px solid $dark-brown;

	.container {
		.content-wrapper {
			@extend %clearfix;
			max-width: 940px;
			margin: 0 auto;

			h2 {
				text-transform: uppercase;
				letter-spacing: -2px;
			}

			.ti-description-wrapper,
			.other-links-wrapper {
				margin: 2rem 0 3rem 0;
				line-height: 1.5;
			}

			.ti-description-wrapper {
				display: inline-block;
				max-width: 500px;
				margin-right: 4rem;
			}

			.other-links-wrapper {
				display: inline-block;
				margin-left: 4rem;
				
				a {
					text-decoration: none;
					@include transition(all .1s ease-in-out);

					&:hover {
						color: $primary;
					}
				}

				ul {
					display: inline-block;
					list-style: none;
					margin: 0;
					padding: 0;
				}
			}

			.copyright {
				text-align: center;
				font-size: .9rem;
			}
		}
	}
}

/*
  ========================================
	GRID
  ========================================
*/
.col-1-2,
.col-1-3,
.col-2-3 {
	display: inline-block;
}

.col-1-2 {
	width: 50%;
}

.col-2-3 {
	width: 66.6%;
}

.col-1-3 {
	width: 33.3%
}
