/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require select2
 *= require_self
 */

@import 'bourbon';
@import 'normalize';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'colors';
@import 'forms';
@import 'tags';
@import 'home';
@import 'treasures';
@import 'users';

html {
	box-sizing: border-box;
	height: 100vh;
	height: 100%;
}

* {
	box-sizing: inherit;
}

body {
	font-family: 'Open Sans', $helvetica;
	color: $default-text;
	@include display(flex);
	@include flex-direction(column);
	height: 100vh;
	height: 100%;
}

a {
	@include transition(all .2s ease-in-out);
	color: inherit;
}

section {
	margin: 4rem 0 6rem 0;
	@include flex(1 0 auto);
}

.page-title {
	font-size: 3rem;
	letter-spacing: -2px;
	margin-top: 0;
	font-weight: 300;
}

::selection {
	background: #CCF9CD;
}

.text-center {
	text-align: center;
}

.container {
	margin: 0 auto;
	padding: 0 30px;

	@media only screen and (min-width: 768px) {
		width: 750px;
	}

	@media only screen and (min-width: 992px) {
		width: 970px;
	}

	@media only screen and (min-width: 1230px) {
		width: 1170px;
	}
}

/*
  ========================================
	PLACEHOLDER
  ========================================
*/
%clearfix {
	zoom: 1;

	&:before,
	&:after {
		display: table;
		content: "";
	}

	&:after {
		clear: both;
	}
}

/*
  ========================================
	HEADER
  ========================================
*/
header {
	@include flex(none);
	@extend %clearfix;
	padding: 1rem 0;
	text-transform: uppercase;
	background: $primary;
	color: $brown;

	a {
		text-decoration: none;
		@include transition(all .2s ease-in-out);

		&:hover {
			color: black;
		}
	}

	.logo {
		@include size(36px);
		float: left;

		svg {
			width: 100%;
			height: 100%;
			@include transition(all .2s ease-in-out);

			&:hover {
				@include transform(scale(1.1) rotate(180deg));
			}
		}
	}

	.navbar-brand {
		float: left;
		font-weight: 700;
		font-size: 1.3rem;
		margin-left: 7px;
		line-height: 36px;
		letter-spacing: -2px;
	}

	ul {
		float: right;
		list-style: none;
		display: inline-block;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			margin-left: 1em;
			line-height: 36px;
			font-weight: 400;
			font-size: 15px;
			letter-spacing: -.03em;
			
			a {
				&:hover {
					border-bottom: 4px solid $brown;
				}
			}
		}
	}

	.navbar-toggle {
		float: right;
		display: none;
	}

	.search-form {
		float: right;
		display: inline-block;
		margin: 0 1em 0 3em;
		line-height: 36px;
		width: 250px;

		input[type="search"] {
			padding: .3rem .5rem;
			border: inherit;
			border-radius: 4px;
			box-shadow: 0 0 0px 4px rgba(255, 255, 255, .2);
			display: inline-block;
			width: 100%;
			box-sizing: inherit;
			outline: inherit;
		}
	}
}

/*
  ========================================
	FOOTER
  ========================================
*/
footer {
	@include flex(none);
	background: $dark-brown;
	color: $dark-gray;
  box-shadow: inset 0 1px 0 0 $dark-gray;
  border-top: 6px solid $dark-brown;

	.container {
		.content-wrapper {
			@extend %clearfix;
			max-width: 940px;
			margin: 0 auto;

			h2 {
				text-transform: uppercase;
				letter-spacing: -2px;
			}

			.ti-description-wrapper,
			.other-links-wrapper {
				margin: 2rem 0 3rem 0;
				line-height: 1.5;
			}

			.ti-description-wrapper {
				display: inline-block;
				max-width: 500px;
				margin-right: 4rem;
			}

			.other-links-wrapper {
				display: inline-block;
				margin-left: 4rem;
				
				a {
					text-decoration: none;
					@include transition(all .1s ease-in-out);

					&:hover {
						color: $primary;
					}
				}

				ul {
					display: inline-block;
					list-style: none;
					margin: 0;
					padding: 0;
				}
			}

			.copyright {
				text-align: center;
				font-size: .9rem;
			}
		}
	}
}

/*
  ========================================
	GRID
  ========================================
*/
.col-1-2,
.col-1-3,
.col-2-3 {
	display: inline-block;
}

.col-1-2 {
	width: 50%;
}

.col-2-3 {
	width: 66.6%;
}

.col-1-3 {
	width: 33.3%
}

/*
  ========================================
	BUTTONS
  ========================================
*/
.btn {
	padding: .7rem 1rem;
	display: inline-block;
	background: $dark-gray;
	color: white;
	text-decoration: none;
	border-radius: 3px;
	font-size: 14px;

	&:hover {
		background: $primary;
		color: $brown;
	}
}

/*
  ========================================
	PAGINATION
  ========================================
*/
.pagination {
	text-align: center;
	margin: 4rem 0 3rem 0;

	a,
	span,
	.current {
		padding: 3px 9px;
	}

	a,
	.current {
		width: 30px;
		display: inline-block;
		border: 1px solid $light-gray;
		border-radius: 50%;

		&:hover {
			background: $primary;
			color: $brown;
		}
	}

	.current {
		font-style: normal;
		background: $primary;
		cursor: not-allowed;
		color: $brown;
	}

	a {
		text-decoration: none;
		color: $gray;

		&.next_page,
		&.previous_page {
			width: initial;
			border: none;
			&:hover {
				background: initial;
				text-decoration: underline;
			}
		}
	}

	.disabled {
		color: $light_gray;
		cursor: not-allowed;
	}
}
