<h3 class="treasure-name"><%= link_to treasure.name, treasure %></h3>
<p class="treasure-url"><%= treasure.url %></p>
<p class="treasure-description"><%= treasure.description %></p>
<p class="treasure-tag-list"><%= tag_link_to treasure %></p>
