<footer>
	<div class="container">
		<div class="content-wrapper">
			<div class="ti-description-wrapper">
				<h2>Treasure Island</h2>
				<p class="ti-description">
					Treasure Island is a place where community members share various sites and links they found over the years that provide great tools and resources. Search for some hidden treasures and contribute by adding your own treasures to our growing list!
				</p>
			</div>

			<div class="other-links-wrapper">
				<h2>Other</h2>
				<ul>
					<li>
						<%= link_to "GitHub", "https://github.com/jinpae/treasure_island", target: "_blank", class: "other-link" %>
					</li>
					<li>
						<%= link_to "Twitter", "https://twitter.com/jinpae", target: "_blank", class: "other-link" %>
					</li>
					<li>
						<%= link_to "LinkedIn", "https://linkedin.com/in/jinpae", target: "_blank", class: "other-link" %>
					</li>
					<li>
						<%= mail_to "support@jinpae.com", "Support", class: "other-link" %>
					</li>
				</ul>
			</div>

			<p class="copyright">&copy; 2015 Jin Pae.</p>
		</div>
	</div>
</footer>
